#header {
    margin-top: 20vh;
}

#header #video-compare-container {
    display: inline-block;
    height: 80vh;
    line-height: 0;
    margin-top: -40vh;
    position: absolute;
    top: 50%;
    width: 100%;
}

#header,
#video-compare-container {
    min-height: 50vh;
    overflow: hidden;
}

#header:after {
    -webkit-transition: all 1s;
    background: rgba(0, 0, 0, 0.6);
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 1s;
    width: 100%;
}

.appear,
#header,
.logo{
    display: none;
}

.button-box {
    margin: 0 auto;
    max-width: 500px;
    font-weight: bold;
}

.form.container {
    text-align: center;
    left: 0;
    z-index: 9;
    width: 100%;
}

.form.container form .submit,
button {
    height: 45px;
    width: 200px;
}

.form.container form input {
    height: 40px;
    padding: 5px;
    width: 250px;
}

.form.pop-up {
    background: rgba(0, 0, 0, 0.95);
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.form.pop-up .row {
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 100%;
}

video {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.indication,
form {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.logo {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
}

.logo-color {
    background-color: #000;
    background-image: url(../img/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
}

.logo-color, .logo-white{
max-height:70vh;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo-white {
    background-color: #000;
    background-image: url(../img/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form.container h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.middle-text {
    position: absolute;
    height: 150px;
    margin-top: -75px;
    top: 50%;
    width: 550px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
}

.middle-text h2 {
    margin: 0;
    line-height: 42px;
    text-transform: none;
}

.indication {
    font-weight: 300;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 45px;
}

.indication span:hover,
.indication p:hover {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 10px #fff, 0 0 20px #72c1fb, 0 0 40px #72c1fb, 0 0 50px #72c1fb, 0 0 75px #72c1fb;
}

.indication span,
.indication p {
    transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
    text-shadow: none;
}

.neon-box-blue {
    -moz-box-shadow: 0 0 20px #9ecaed, inset 0 0 30px #9ecaed;
    -webkit-box-shadow: 0 0 20px #9ecaed, inset 0 0 30px #9ecaed;
    box-shadow: 0 0 20px #9ecaed, inset 0 0 30px #9ecaed;
    background: rgba(0, 0, 0, 0.3);
    border: 4px solid #fff;
    transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
}

button.neon-box-blue:hover {
    -moz-box-shadow: 0 0 20px #9ecaed;
    border-color: #fafafa;
    -webkit-box-shadow: 0 0 20px #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    color: #333;
    background-color: #fafafa;
}

a:hover {
    text-decoration: none;
}

body.sbp {
    background-color: #060606;
    color: #fafafa;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

form {
    display: inline-block;
    margin: 0 auto;
    width: 650px;
}

form h2 {
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

i.fa {
    background: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    width: 25px;
    height: 25px;
}

i.fa.fa-times-circle {
    position: relative;
    top: -300px;
    right: -650px;
    font-size: 15px;
    background: none;
    color: #fff;
    border-radius: 50%;
    font-size:20px;  
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
i.fa.fa-times-circle:hover{
    
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size:22px;
    text-shadow: 0 0 2px #fff, 0 0 15px #72c1fb, 0 0 25px #72c1fb, 0 0 45px #72c1fb;    
}



.social-row ul li {
    display: inline;
    margin: 10px;
}

.social-row ul {
    margin-top: 4vh;
}

ul {
    padding: 0;
}

.social-row {
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #000;
    height: 10vh;
    position: absolute;
}

.left-box span,
.right-box span {
    font-size: 60px;
}

.indication {
    width: 100px;
    margin: 0px;
}

.left-box,
.main-box,
.right-box {
    display: inline-block;
    vertical-align: top;
}

.indication.left-box {
    position: fixed;
    left: 15%;
}

.indication.right-box {
    position: fixed;
    right: 15%;
}

.hype-text.middle-text {
    width: 800px;
    margin-left: -400px;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

.main-box {
    width: 430px;
    margin: 0 85px;
    vertical-align: middle;
}

.left {
    float: left;
}

.right {
    float: right;
}

.form input {
    margin: 5px;
}

@media(min-width: 1800px) {
    .indication.left-box {
        position: fixed;
        left: 17%;
    }
    .indication.right-box {
        position: fixed;
        right: 17%;
    }
}

@media(min-width: 2200px) {
    .indication.left-box {
        position: fixed;
        left: 20%;
    }
    .indication.right-box {
        position: fixed;
        right: 20%;
    }
}

@media(min-width: 3000px) {
    .indication.left-box {
        position: fixed;
        left: 20%;
    }
    .indication.right-box {
        position: fixed;
        right: 20%;
    }
}

@media (max-width: 800px) {
    .hype-text.middle-text {
        width: 95%;
        margin-left: -47.5%;
    }
    form {
        width: 90%
    }
    .indication {
        width: 9%;
    }
    .indication.left-box {
        left: 5%;
    }
    .indication.right-box {
        right: 5%;
    }
    .main-box {
        width: 50%;
        margin: 0 10%;
    }
    .left,
    .right {
        float: none;
    }
    i.fa.fa-times-circle {
        position: absolute;
        top: -20%;
        right: 48%;
    }
}

@media (max-width:500px) {
    .indication {
        display: none;
    }
}